<% if (locals.errorMessage == null || locals.errorMessage == ''){%>
            
    <% }else{%> 
        <div class="row">
        <p class="red" style="color: aliceblue; padding-left: 5px;"><%= errorMessage %> </p> 
    </div>
        <% } %> 