<nav>
    <div class="nav-wrapper blue darken-1">
     
      <a href="/dashboard" class="brand-logo center">Tolanory</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/stories">Stories</a></li>
        <li><a href="/auth/logout">Log Out</a></li>

        <% if (locals.AdminFlowStatus) { %>
          <li><a href="/users">Users</a></li>
        <% } %>
       
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/stories">Stories</a></li>
    <li><a href="/auth/logout">Log Out</a></li>
    <% if (locals.AdminFlowStatus) { %>
      <li><a href="/users">Users</a></li>
    <% } %>
   
  </ul>

  