<div class="card card-container">
    <div class="card-content">
      <h3>hi, Admin</h3>
    </div>
  </div>
  
  
  <table class="striped">
    <thead>
      <tr>
        <th>Display name</th>
        
  
        
  
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <%users.forEach(user=>{%>
      <tr>
        <td><a href="stories/storiesByTheUser/<%=user.id%>"><%=user.displayName.substring(0, 40)%></a></td>
        
        <% if (AdminFlowStatus) { %>
          <td class="story-action"><a class="waves-effect waves-light btn red modal-trigger"  href="#modal1">delete</a></td>

          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>You are about to delete this user!</h4>
              <p>Are you sure?</p>
            </div>
            <div class="modal-footer">                            
                
              <form method="POST" action="/users/<%=user.id%>?_method=DELETE">
                <button type="submit" class="modal-close waves-effect waves-green btn-flat">Agree</button>
              </form>
            </tr>
            </div>
          </div>
      <% } %>
        
      
      <%})%>
  
  
    </tbody>
  </table>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="fixed-action-btn">
    <a href="/dashboard/create" class="btn-floating btn-large waves-effect waves-light red"><i
        class="material-icons">add</i></a>
  </div>